.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://i.pinimg.com/280x280_RS/d6/b2/c3/d6b2c36190ba7e7963eb284c9c2baf4b.jpg');
    background-size: cover;
}